{% extends "main.html" %}

{% block footer %} by Dawid Mucha {% endblock %}

{% block content %} 

<div class='container d-flex flex-column align-items-center m-4'>
	<!-- <div>
		<a href="<?php print(_APP_ROOT); ?>/app/security/logout.php">
			Log out
		</a>
	</div> -->

	<h1>Loan Calculator</h1>

	<form class='d-flex flex-column align-items-strertch'>
		<label class='pb-3'>
			Loan amount: <br />
			<input type="text" id="amount" name="amount" value="{{amount}}" />
		</label> <br />
		<label class='pb-3'>
			Number of installments <br />
			<input type="text" id="installments" name="installments" value="{{installments}}" />
		</label> <br />
		<label class='pb-3'>
			Loan rate: <br />
			<div class='d-flex flex-row'>
				<input type="text" id="loanrate" name="loanrate" value="{{loanrate}}" />
				<div>%</div>
			</div>
		</label> <br />
		<label class='pb-3'>
			Upfront payment: <br />
			<input type="text" id="upfront" name="upfront" value="{{upfront}}" />
		</label> <br />

		<button type="submit" value="Calculate" class='btn btn-primary m-2 p-3'>
			Submit
		</button>
	</form>


	{% if messages is defined %}
		{% if messages|length > 0 %}
			{% spaceless %}
				<h4>Errors:</h4>
				<div class='alert alert-warning p-4'>
					<ol>
						{% for msg in messages %}
							<li>{{ msg }}</li>
						{% endfor %}
					</ol>
				</div>
			{% endspaceless %}
		{% endif %}
	{% endif %}

	{% if result is defined %}
		<h3 class='m-4'>
			One payment: 
			<span class='badge bg-success'>
				{{ result }}
			</span>
		</h3>
	{% endif %}

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</div>

{% endblock %}